* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    display: block;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1.3125;
    overflow-x: hidden;
}

.headerleft {
    background-color: #088472;
    width: 637.5px;
    height: 69px;
    display: flex;
}

#logoheader {
    width: 54%;
    max-height: 60px;
    padding-top: 2px;
}

.logohd::before {
    content: "";
    width: 150px;
    height: 68px;
    background-color: #088472;
    float: left;
}

.searchplace {
    padding: 15px 15px;
}

.search {
    width: 238px;
    height: 36px;
    border-radius: 3px;
    padding: 0 15px;
    border: 0;
    position: relative;
}

.fa-magnifying-glass {
    position: absolute;
    transform: translateX(-130%);
    top: 25px;
}

.headerright {
    display: flex;
    width: 742px;
}

#logor {
    width: 40px;
}

a {
    text-decoration: none;
    color: black;
}

.flex-container {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
}

.flex-container>div {
    background-color: white;
    width: 120px;
    color: black;
    text-align: center;
    line-height: 24px;
}

#logor {
    width: 32px;
    padding-top: 8px;
}

.headericon {
    font-size: 28px;
    padding-top: 16px;
    line-height: 20px;
    color: #088472;
}
.menuheader:hover{
    background-color: whitesmoke;
}

.container {
    width: 1550px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: -3px;
}

.devvn_mega_menu_icon {
    font-size: 32px;
}

.nohavemega {
    display: flex;
    text-align: center;
    list-style: none;
    touch-action: manipulation;
    border-bottom: 1px solid #f4f4f4;
    padding-right: 20px;

}
.h4hd{
    font-family: Arial, Helvetica, serif;
    font-weight: 200;
}
.imgmenu {
    width: 18px;
    padding-right: 8px;
    margin-top: 8px;
}
.nohavemega:hover{
    background-color: whitesmoke;
}
.slideshow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgslide{
    width: 1010px;
    height: 382px;
    justify-content: center;
    align-items: center;
}
.maincontener{
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    background-color: white;
}
.hotproduct{
    
    width: 1225px;
    border-bottom: 1px solid #eee;

}
.hotproduct1st{
    display: flex;
    background-color: white;
    border-bottom: solid 0.5px rgb(21, 161, 21);
    box-shadow: inset;
}
.boxbutton{
    background-color: #088472;
    float: left;
    width: 50px;
    height: 50px;
    position: relative;
    
}
#firer{
    padding: 5px 0px 0px 10px;
}
.hotproduct2nd{
    display: flex;
}
.imgproduct{
    width: 100%;
    transform: scale(1);
    transition: all 0.3s linear;
}
.imgproduct:hover,
.noteadd:hover {
    transform: scale(1.1);

}
.hotpd{
    padding-top: 1rem;
}
.listsp{
    display: flex;
    gap: 20px;
}
.coverdiv{
    position: relative;
    overflow: hidden;
}

.noteadd{
    padding-top: 6px;
    color: white    ;
    text-align: center;
    transform: scale(1);
    transition: all 0.3s linear;
    width: 100%;
    height: 28px;
    bottom: 0%;
    position: absolute;
    background-color: #CC181E;
    color: black;
    float: inherit;
    opacity: 0;
}
.coverdiv:hover .noteadd{
     opacity: 1;
}
.namepd{
    color: #1e5480;
    font-size: 14px;
    overflow: hidden;
    line-height: 18px;
    font-weight: 700;
    margin: 0 0 6px;
    text-overflow: ellipsis;
    height: 36px;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 1px;
    width: 24.5%;
}

.grid__column-2-4f {
    width: 23%;
    padding-left: 5px;
    padding-right: 1px;
    display: flex;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;

}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.ffooter__heading {
    display: flex;
    margin-top: 3px;
    margin-left: 1rem;
    color: wheat;

}

.grid__rowf {
    display: flex;
    margin-left: 8rem;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#camket {
    width: 4rem;
    display: inline-block;
}

a {
    text-decoration: none;
}

.footer__list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.1rem;
    display: block;
    padding: 4px 0 4px 67px;
    color: white;
    list-style: none;

}

.footer__heading {
    text-align: center;
    justify-content: center;
    color: white;
    padding-top: 20px;

}

.footer-item__link:hover {
    color: rgb(120, 205, 205);
}

.ffooter {
    background-color: #E39725;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.footer {
    background-color: #63666B;
}

.icon__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 25px;
}

.icon_footer {
    font-size: 1.5rem;
}

.fa-facebook {
    color: #1DA1F2;
}

.fa-twitter {
    color: #40BECD;
}

.fa-instagram {
    color: black;
}

.fa-youtube {
    color: #CC181E;
}

.lw {
    width: 100%;
    font-size: 10rem;
    text-align: center;
}

.fb-page {
    margin-left: 1rem;

}

.fa-truck-fast {
    font-size: 3rem;
    display: flex;
    position: relative;
    animation-name: truck;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    margin-left: 1rem;
}

@keyframes truck {
    to {
        color: white;
    }

    from {
        color: #E39725;
    }
}

.fa-hand-holding-dollar {
    font-size: 2.9rem;
    width: 80px;
    height: 48px;
    color: white;
    display: flex;
    position: relative;
    margin-left: 2rem;
    animation-name: holdingmoney;
    transition: transform 1s ease;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes holdingmoney {
    0% {
        color: white;
        left: 0;
        bottom: 0;
    }

    70% {
        color: #E39725;
        bottom: 10px;
        left: 14px;
    }

    100% {
        color: white;
        left: 0;
        bottom: 0;
    }
}

.fa-user-doctor {
    font-size: 2.9rem;
    width: 80px;
    height: 48px;
    color: white;
    display: flex;
    position: relative;
    margin-left: 2rem;
}

.ipfooter {
    width: 100%;
    display: flex;
    background-color: black;
    color: white;
    height: 7rem;
}

.headingidfooter {
    margin-top: 0.3rem;
    margin-left: 18rem;
}

.iffooter {
    display: inline-block;
    width: 45rem;
}

.congthuongdiv {
    width: 24rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hdft1 {
    margin-top: 1rem;
}

#congthuongimg {
    width: 35%;
    display: flex;
    justify-content: center;
}

#logoend {
    width: 30%;
}

.endlogodiv {
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.crefooter {
    background-color: #088472;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font: weight 1px;
    ;
    padding: 8px 0;
    position: relative;
}

.hotline {
    background-color: red;
    position: absolute;
    border-radius: 18px;
    margin-left: 1rem;
    bottom: 5px;
}

.hlft {
    padding: 3px 10px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
    padding-top: 1.5rem;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .item1 {
    grid-row-start: 1;
    grid-row-end: 4;
    overflow: hidden;
  }
  .others{
    width: 46.8vh;
    transform: scale(1);
    transition: all 0.3s linear;
  }
  .items{
    overflow: hidden;
  }
  .others:hover{
    scale: 1.04;
    overflow: hidden;
  }
  .bigones{
    transform: scale(1);
    transition: all 0.3s linear;
  }
  .bigones:hover{
    scale: 1.04;
    overflow: hidden;
  }
  .row-padding-15{
    display: flex;
  }
